body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

header, main, footer {
  width: 40em;
  display: block;
  margin: 0 auto 3em;
}

header {
  text-align: center;
}

footer p {
  font-size: 14px;
}
